@model IEnumerable<FundRaising.ViewModels.ProductViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Products";
}


<script>

    function Deleteconfirm(id, name) {
        var d = confirm("Are you sure you want delete the Product with product ID: " + name);
        if (d) {
            $.ajax({
                url: "/Product/Delete",
                data: { id: id, description: name },
                type: "POST",
                success: function () {
                    loadMagazines();
                },
                error: function () {

                }
            });
        }
    }
</script>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a  onclick="loadProducts()" aria-controls="home" role="tab" data-toggle="tab">Products</a></li>
        <li role="presentation"><a onclick="loadMagazines()" aria-controls="profile" role="tab" data-toggle="tab">Magazines</a></li>
    </ul>
    <div class="row">
        <div class="col-md-6">
            <a href="#" id="create" onclick="gotoPrevious('/Product/Create')">Create New</a><span class="space">|</span><a href="#" id="Upload" onclick="uploadProducts()">Upload Products</a>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content" style="margin-top:10px;">
        <div id="data-container">
            @Html.Action("Products")
        </div>
    </div>
</div>

   

<script>
    function loadMagazines() {
        debugger;
            $('#data-container').load('/product/products?option=1', function () {
                var htmlString = '<h2 class="row text-center h2_margin">Magazines</h2>';
                $('#DemoDiv').html(htmlString);
                $('#create').attr('onclick', 'gotoPrevious("/Product/Create?option=1")');
            });
    }
    function loadProducts()
    {
        $('#data-container').load('/product/products?option=0', function () {
            var htmlString = '<h2 class="row text-center h2_margin">Products</h2>';
            $('#DemoDiv').html(htmlString);
            $('#create').attr('onclick', 'gotoPrevious("/Product/Create?option=0")');
        });
    }
</script>


