@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Student/_AuthLayout.cshtml";
}
<h3>Welcome Back @ViewBag.StudentName</h3>

  <h4>Welcome! you are logged in</h4>
<p>
    From here you may view your sales records for the current campaign or change your registration information. Please use the links.
</p>


