@model IEnumerable<FundRaising.ViewModels.OrderViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Student/_AuthLayout.cshtml";
}

<div>
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.ProductName).Titled("Product Name");
                        columns.Add(c => c.Quantity).Titled("Quantity");
                        columns.Add(c => c.UnitPrice).Titled("Per Unit Price");
                    }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()

</div>
