@{
    ViewBag.Title = "SocialMedia";
    Layout = "~/Views/Student/_Layout.cshtml";
}

<h2>Seller's Registration  - SocialMedia</h2>

<div style="text-align:center">
    <p>
        this page prvoides easy access to links Facebook, Twitter, Instagram, Pintrest and other social media paltforms.please use the links if you have account form any of these accounts.
    </p>    

    <p>
        when you are done, please click the "Complete  Registration" button below.you will arrive on your dashboar, where you can view or change the inforamtion whcih you have submitted just now.
    </p>

    <p style="color:red">
        Please click "Complete Registration" button below to done.
    </p>

</div>

<div>
    social media icons
</div>
<div>
    <input type="submit" value="Continue Registration" id="submit" name="submit" />
</div>

