<a href="/shoppingcart/index" id="cart-status" >
    <span id="animate"  class="glyphicon glyphicon-shopping-cart cart cart_brkt" >CART(<span id="count" class="count">@ViewBag.Count</span>)</span>
</a>

