@{
    ViewBag.Title = "Help";
    Layout = "";
}




<div>
    <strong>Card Security Code</strong>
    <br />
    <br />

    The card security code (CSC) is usually a 3 - or 4 - digit number, which is not part of the credit card number. The CSC is typically printed on the back of a credit card (usually in the signature field).<br />

    On some cards, all or part of the card number appears before the CSC, for example, 1234 567. In this example, 1234 are the last four digits of the credit card number, and 567 is the CSC.<br />

    <div style="text-align:center">
        <img src="~/Images/pflConfigCSC1.gif" />

        <img src="~/Images/pflConfigCSC2.gif" />
    </div>




    The number appears only on the card itself (not on receipts or statements), so provides some assurance that the physical card is in the possession of the buyer.<br />

    CSC is known by different names with the different card associations. CSC is known to Visa as the Card Verification Code (CVV2);<br />
     to MasterCard as the Card Validation Code (CVC2); and finally to American Express as the Card Identification Number (CID).

</div>
