@{
    ViewBag.Title = "OrderInformation";
    Layout = "~/Views/Customer/_Layout.cshtml";
}

<h3>OrderInformation</h3>



Ordering your products is easy. You can find our products by browsing or searching. Just find the product you're looking for, then click Add to Cart. You will be able to order additional products, or you can proceed to the checkout screens where you provide us with all of your addressing, payment and gift address information (if any of your products are gifts for others). We accept Visa, MasterCard, Discover and American Express.
To receive confirmation of your order, you must include your e-mail address.

<h3>Shipping Charges</h3>

Shipping and Handling Charges are as follows:

<ul>
    <li>$0-$29.99 = $7.95</li>
    <li>$30-$44.99 = $9.95</li>
    <li>$45-$59.99 = $11.95</li>
    <li>$60-74.99 = $12.95</li>
    <li>All orders over $75.00 FREE Shipping</li>
</ul>




<h3>Cancellation Policy</h3>


Cancellation Policy: Orders may be canceled within 48 hours of placing the order. To cancel an order you must call 1.800.360.6674. or send an email to <a href="mailto:contact@onlinefundraisingshop.com">contact@onlinefundraisingshop.com</a>


<h3>Refund Policy</h3>

Refund Policy: Customers are given 14 days from the time they receive their order to contact The Classic Group regarding damaged, missing and/or wrong items in their order.  Replacement items and/or refunds will be issued with in 14 days after approval.

<h3>Privacy Policy</h3>


OUR PRIVACY POLICY: At The Classic Group, we understand the necessity and importance of protecting your privacy. To this end we take every precaution to keep whatever personal information you share with us confidential and secure. All credit card and/or banking information is transmitted through a Secured Socket Layer (SSL) which is the most protective technology used on the Internet today.
The Classic Group will never allow your information to be used by any other company or organization whatsoever. You may be assured of our continual efforts to earn and retain your trust.

We want your experience with The Classic Group to be a worry-free, hassle-free, long-term relationship.

<h3>Security Issues</h3>


  SSL Certificate

Our site is protected with a state of the art SSL Certificate. This SSL certificate ensures your private information such as name, address, credit card information and so forth is encrypted with a 256-bit encryption key before being sent over the Internet. According to Wikipedia, this means anyone snooping on communication between the web server and your browser would spend a billion-billion years attempting to crack this information on the best computers currently in existence. Bottom line, your personal data is safe!

  Trustwave

Websites that collect credit card information are required by merchant banks to be scanned on a regular basis and correct any issues found to remain in what is called "PCI Compliance". Our website is scanned monthly by an organization called "Trustwave" and when issues are found, they are taken care of immediately. Trustwave helps insure our website is safe and has not been tampered with or monitored by outside sources, this in turn, keeps your data safe.