
@{
    ViewBag.Title = "Item Sold Report";
    Layout = "~/Views/Reports/_SubLayout.cshtml";
}
<style>
    input#btnSubmit {
        background: #54a792;
        color: white;
        border: none;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 3px;
        margin-top:10px;
         margin-left:10px;
    }

    .form-control {
        height: 31px;
        padding: 0px 12px;
        background-color: #ecf7ec;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <label class="tealblue"> Start Date</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="date form-control" id="txtStartDate" />
        </div>
        <div class="row form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="button" value="Submit" id="btnSubmit" />
            </div>
        </div>
    </div>   
    <div class="col-md-6">
        <div class="col-md-4">
            <label class="tealblue">End Date</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="date form-control" id="txtEndDate" />
        </div>
    </div>  
</div>

<div id="reportContainer">
     
</div>


<script>
    $(document).ready(function () {
        $(function () {
            $(".date").datepicker();
        });
    });

    $(document).on('click', '#btnSubmit', function () {
        debugger;
        var startDate = $('#txtStartDate').val();
        var endDate= $('#txtEndDate').val();

        $.ajax({
            url: "/Reports/ItemSoldReportAjax?StartDate=" + startDate + "&EndDate=" + endDate,
            success: function (data) {
                $('#reportContainer').html(data);
            },
            error: function (err) {
                alert('Error:' + err.statusText);
            }
        });

    });
</script>


