
@{
    ViewBag.Title = "OrganizationSalesReport";
}
<div class="row">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="navbar-link">
                <a href="~/Reports/SalesByOrganization">Sales Report-select Organization/campaign</a>
            </li>
            <li>
                <a href="~/Reports/OrganizationWithActivecampaign">Organizations With Active Campaign</a>
            </li>
            <li>
                <a href="~/Reports/ProductReport">Product Report-All Product -All Categoris-All Catalogs </a>
            </li>
            <li>
                <a href="~/Reports/OrganizationSalesReport">Sales By Campaign Report</a>
            </li>
            <li>
                <a href="~/Reports/ItemSoldReport">Items Sold Report</a>
            </li>
            <li>
                <a href="~/Reports/SchoolOrders">School Orders Report-Lists Orders By Selected School</a>
            </li>
        </ul>
    </nav>

</div>
<div class="row">
    <span>Select Distrinutor:</span>@Html.DropDownList("cmbDistributor",ViewBag.Distrinutor as IEnumerable<SelectListItem>,"please select---",new { @class="form-control"})
    <input type="button" value="submit" id="btnSubmit" />
</div>

<div class="row" id="reportContainer">

</div>

<script>
    $(document).on('click', '#btnSubmit', function () {

        var id = $('#cmbDistributor').val();

        if(id!=null && id!="")
        {
            $.ajax({
                url: "/Reports/OrganizationSalesReportAjax?DistributorID=" + id,
                success: function (data) {
                    $('#reportContainer').html(data);
                },
                error: function (err) {
                    alert(err.statusText);
                }                
            });
        }
        else
        {
            alert('Distributor not selected.');
        }
    });
</script>

