
@{
    ViewBag.Title = "Organization Sales Report";
    Layout = "~/Views/Reports/_SubLayout.cshtml";
}
<style>
    input#btnSubmit {
    background: #54a792;
    color: white;
    border: none;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
}
    .form-control {
    height: 31px;
    padding: 0px 12px;
    background-color: #ecf7ec;
}
</style>
<div class="row">
    <div class="col-md-2">
        <label style="color:#54a792">Select Distrinutor</label>
    </div>
    <div class="col-md-4">
        @Html.DropDownList("cmbDistributor", ViewBag.Distrinutor as IEnumerable<SelectListItem>, "please select---", new { @class = "form-control" })
    </div>
   <div class="row form-group">
       <input type="button" value="submit" id="btnSubmit" />
   </div>
  </div>

<div class="row" id="reportContainer">

</div>

<script>
    $(document).on('click', '#btnSubmit', function () {

        var id = $('#cmbDistributor').val();

        if(id!=null && id!="")
        {
            $.ajax({
                url: "/Reports/OrganizationSalesReportAjax?DistributorID=" + id,
                success: function (data) {
                    $('#reportContainer').html(data);
                },
                error: function (err) {
                    alert(err.statusText);
                }                
            });
        }
        else
        {
            alert('Distributor not selected.');
        }
    });
</script>

