@using ReportViewerForMvc;
@{
    ViewBag.Title = "Product Report";
    Layout = "~/Views/Reports/_SubLayout.cshtml";
}

<div class="row">
    <div style="width:1000px;">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "height:500px;width:100%" })
    </div>
</div>
