
@{
    ViewBag.Title = "School Orders";
}
<div class="row">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="navbar-link">
                <a href="~/Reports/SalesByOrganization">Sales Report-select Organization/campaign</a>
            </li>
            <li>
                <a href="~/Reports/OrganizationWithActivecampaign">Organizations With Active Campaign</a>
            </li>
            <li>
                <a href="~/Reports/ProductReport">Product Report-All Product -All Categoris-All Catalogs </a>
            </li>
            <li>
                <a href="~/Reports/OrganizationSalesReport">Sales By Campaign Report</a>
            </li>
            <li>
                <a href="~/Reports/ItemSoldReport">Items Sold Report</a>
            </li>
            <li>
                <a href="~/Reports/SchoolOrders">School Orders Report-Lists Orders By Selected School</a>
            </li>
        </ul>
    </nav>

</div>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            Order From Date:
        </div>
        <div class="col-md-6">
            <input type="text" id="txtstartDate" class="date" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Order To Date:
        </div>
        <div class="col-md-6">
            <input type="text" id="txtendDate" class="date" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            School/Organization ID:
        </div>
        <div class="col-md-6">
            <input type="text" id="SchoolID" class="ui-autocomplete" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            School/Organization Name:
        </div>
        <div class="col-md-6">
            <input type="text" id="SchoolName" class="ui-autocomplete" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            Shipping Method:
        </div>
        <div class="col-md-6">
            <input type="checkbox" name="chkbs" id="chkUPS" /><span>UPS</span>
            <input type="checkbox" name="chkbs" id="chkSTS" /><span>Ship To School</span>
        </div>
    </div>
    <div class="row">
        <input type="button" value="Submit" id="btnSubmit" />
    </div>
</div>
<div class="row">
    <div id="reportContainer">

    </div>
</div>
<script src="~/Scripts/AutoComplete.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datepicker();
    });

    $(document).on('click', '#btnSubmit', function () {

        var startDate = $('#txtstartDate').val();
        var endDate = $('#txtendDate').val();
        var schoolID = $('#SchoolID').val();
        var shiptoSchool = "all";
        if ($('#chkUPS').is(':checked'))
        {
            shiptoSchool = "UPS";
        }
        else
        {
            shiptoSchool = "STS";
        }
        
        $.ajax({
            url: "/Reports/SchoolOrdersAjax?startDate=" + startDate + "&EndDate=" + endDate + "&schoolID=" + schoolID + "&STS=" + shiptoSchool,
            success: function (data) {
                $('#reportContainer').html(data);
            },
            error: function (err) {
                alert('error:'+err.statusText);
            }
            
        });

    });
</script>

