
@{
    ViewBag.Title = "School Orders";
    Layout = "~/Views/Reports/_SubLayout.cshtml";
}
<style>
        input#btnSubmit {
    background: #54a792;
    color: white;
    border: none;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
}
            .form-control {
    height: 31px;
    padding: 0px 12px;
    background-color: #ecf7ec;
}
</style>
<div class="row">
    <div class="col-md-6">
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4">
               <label class="tealblue">Order From Date</label> 
            </div>
            <div class="col-md-8">
                <input type="text" id="txtstartDate" class="date form-control" style="width:97%"/>
            </div>
        </div>
      
        <div class="row form-group">
            <div class="col-md-4">
                <label class="tealblue"> School/Organization ID</label>                
            </div>
            <div class="col-md-8">
                <input type="text" id="SchoolID" class="ui-autocomplete form-control" style="margin-left:14px;width:90%;"/>
            </div>
        </div>
      
        <div class="row form-group">
            <div class="col-md-4">
                <label class="tealblue"> Shipping Method</label> 
               
            </div>
            <div class="col-md-8">
                <input type="checkbox" name="chkbs" id="chkUPS" /><span>UPS</span>
                <input type="checkbox" name="chkbs" id="chkSTS" /><span>Ship To School</span>
            </div>
        </div>   
    </div>
    <div class="col-md-6">
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4">
                <label class="tealblue">  Order To Date</label>

            </div>
            <div class="col-md-8">
                <input type="text" id="txtendDate" class="date form-control" style="width:97%"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label class="tealblue">School/Organization Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" id="SchoolName" class="ui-autocomplete form-control" style="margin-left:14px;width:90%;" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="button" value="Submit" id="btnSubmit" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="reportContainer">

    </div>
</div>
<script src="~/Scripts/AutoComplete.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datepicker();
    });

    $(document).on('click', '#btnSubmit', function () {

        var startDate = $('#txtstartDate').val();
        var endDate = $('#txtendDate').val();
        var schoolID = $('#SchoolID').val();
        var shiptoSchool = "all";
        if ($('#chkUPS').is(':checked'))
        {
            shiptoSchool = "UPS";
        }
        else
        {
            shiptoSchool = "STS";
        }
        
        $.ajax({
            url: "/Reports/SchoolOrdersAjax?startDate=" + startDate + "&EndDate=" + endDate + "&schoolID=" + schoolID + "&STS=" + shiptoSchool,
            success: function (data) {
                $('#reportContainer').html(data);
            },
            error: function (err) {
                alert('error:'+err.statusText);
            }
            
        });

    });
</script>

