
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Daily Sales Totals(Not Accumulated Sales)</h2>
    </div>

<div class="row">
    <h2>Statistics</h2>
    <p>The Campaign Ended on @ViewBag.CampaignEndDate</p>  
    <p>@ViewBag.totalstd Students Have Registered</p>
    <p>Different Teachers have been added to the system by students</p>
    <p>as the Average order size per customer </p>
    <p>is the average amount sold by each student</p>
    <p>is the average amount attributed to each teacher (classroom)</p>

</div>

</div>
