
@{
    ViewBag.Title = "EmailtoAdmin";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}


<script>

    function getData() {
        var div = document.getElementsByClassName("toggle");
        //alert('hello');
        div[0].click();
        // $("#input").html(TINY.editor.edit.prototype.toggle(0,div[0]));
        //alert(TINY.editor.edit.prototype.toggle(0,div[0]));
        //console.log(TINY.editor.edit.prototype.toggle(0,div[0]));
        //return false;
    }
    </script>
<style>
    .form-group {
        margin-bottom: 5px;
    }

    .input-sm {
        height: 25px;
        font-size: 13px;
    }
</style>
<h2>Email Us</h2>
<hr />
<br /><form method="post" onsubmit="getData();">
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-2"><b>Your Email Address</b></div>
            <div class="col-sm-5"><input type="text" name="youremail" class="form-control input-sm" /></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>Your Name</b></div>
            <div class="col-sm-5"><input type="text" name="yourname" class="form-control input-sm" /></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>Your Phone</b></div>
            <div class="col-sm-5"><input type="text" name="phone" class="form-control input-sm" /></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>Subject</b></div>
            <div class="col-sm-5"><input type="text" name="subject" class="form-control input-sm" /></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>Enter Message</b></div>
            <div class="col-sm-5" style="margin-top: -24px;margin-left: -24px;"><textarea name="message" rows="10" cols="50" style="width:100%" id="input"></textarea></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 col-sm-offset-2">
                <input type="submit" value="Send Email" class="send-email" /> 
            </div>
        </div>
    </div>
</form>