
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}

<h2>Frequently Asked Question</h2>

<br />
<br />
<a href="#">This is a test of the Chairperson FAQ</a>
<hr />
<p>This is a test of the Chairperson FAQ
</p>
<br />
<p>Test Concluded</p>
