
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}

<h2>Help</h2>
<hr />
<div class="row">
    <div class="col-sm-6">
    <h2>Email Us</h2>
    <br />
    <button type="button" onclick="mailtoadmin()" class="btn btn-default">Send Us An Email</button>
    </div>
    <div class="col-sm-6">
    <h2>Call Us</h2>
    <br />
        <b> <p>1.800.360.6674</p></b>
    </div>
</div>
<script>

    function mailtoadmin()
    {
        window.location.href = '/School/EmailtoAdmin/';

    }

</script>