
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}

<h2>Help</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
    <h4 style="color: #54a792;"><span class="glyphicon glyphicon-envelope"></span>Email Us</h4>
    <button type="button" onclick="mailtoadmin()" class="send-email">Send Us An Email</button>
    </div>
    <div class="col-sm-4">
    <h4 style="color: #54a792;"><span class="glyphicon glyphicon-phone"></span>Contact Us</h4>
        <b style="margin-left: 40px;">1.800.360.6674</b>
    </div>
</div>
<script>

    function mailtoadmin()
    {
        window.location.href = '/School/EmailtoAdmin/';

    }

</script>