
@model FundRaising.Models.Student

@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/School/_SchoolLayout.cshtml";
}
<style>
    .form-group{
        margin-bottom:5px;
    }
    .input-sm {
        height: 25px;
        font-size: 13px;
    }
    te {
    margin: 0px!important;
}
</style>
<h2>Email Single Student - @string.Format("{0} {1}",Model.FirstName,Model.LastName)</h2>
<hr />

<form method="post" onsubmit="getData();">
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-2"><b>To Email Address</b></div>
           <div class="col-sm-5"><input type="text" name="sentto" class="form-control input-sm" value="@Model.EmailAddress"/></div>                
       </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>CC</b></div>
            <div class="col-sm-5"><input type="text" name="cc" class="form-control input-sm" /></div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><b>Subject</b></div>
            <div class="col-sm-5"><input type="text" name="subject" class="form-control input-sm" /></div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Enter Message</b>
              </div>
            <div class="col-sm-5" style="margin-top: -24px;margin-left: -24px;">
                <textarea name="message" rows="10" cols="50" style="width:100%;margin:0px!important" id="input" ></textarea>
            </div>             
       </div>
        <div class="row form-group">
            <div class="col-sm-5 col-sm-offset-2" >
                <input type="submit" value="Send Email" class="send-email" />
            </div>
        </div>
    </div>
</form>
